html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: 'MonumentExtended';
	src: url('fonts/MonumentExtended-Regular.otf') format('opentype');
}

@font-face{
	font-family :'HelveticaNeue';
	src: url(fonts/Helvetica\ Neue\ Regular.otf) format('opentype');
	font-style: normal;
}

@font-face{
	font-family :'HelveticaNeueMedium';
	src: url(fonts/Helvetica\ Neue\ 67\ Medium\ Condensed.otf) format('opentype');
	font-style:normal;
}

@font-face{
	font-family :'HelveticaNeueBlack';
	src: url(fonts/Helvetica\ Neue\ 97\ Black\ Condensed.otf) format('opentype');
	font-style:normal;
}


body {
	background: #364643;
	background-image: url('img/dtchalis_bg_3.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	background-size: cover;
	background-position: 0% 50%;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Monument","Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	font-family: 'MonumentExtended';
}


a {
	color: rgb(0,100,200);
	text-decoration: none;
} 

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
